.btn,
.jumbotron,
.nav :hover {
  border-radius: 8px;
}

body {
  background: #343a40;
 min-height: 100vh;
 position: relative;
}
.footer{
  position: relative;
  top: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-top: 200px;
}

.adminPan{
  @media screen and (min-width:375px) {
    columns: 12;
  }
}

